:root {
  --base-unit: 50px;
  --tile-width: var(--base-unit);
  --tile-height: calc(var(--tile-width) * 2);
  --tile-container-width: calc(var(--tile-width) + var(--base-unit) * 0.16);
  --tile-container-height: calc(var(--tile-height) + var(--base-unit) * 0.16);
  --dice-size: var(--base-unit);
  --roll-area-width: calc((var(--dice-size) + var(--base-unit) * 0.16) * 10);
  --roll-area-height: calc((var(--dice-size) + var(--base-unit) * 0.16) * 7);
  --button-area-width: calc(var(--base-unit) * 4);
}

@media all and (max-width: 800px) {
  :root {
    --base-unit: 8vw;
    --roll-area-width: calc((var(--dice-size) + var(--base-unit) * 0.16) * 8);
    --roll-area-height: calc((var(--dice-size) + var(--base-unit) * 0.16) * 5.6);
    --button-area-width: calc(var(--base-unit) * 2.5);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #bbb;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  font-weight: bold;
}

.flag {
  height: 0.7em;
}

input, button {
  margin-top: 5px;
  height: 30px;
  font-size: 20px;
}

.form-element {
  margin: 0 0 1.5em 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

form {
  width: 300px;
}

@media all and (max-width: 800px) {
  form {
    width: 90vw;
  }
}

.form-element > label {
  flex-grow: 1;
}

input, .submit-btn {
  width: 100%;
}

.link-sharing > input {
  width: 60ex;
  display: inline-block;
  text-align: center;
  color: maroon;
}

.link-sharing > button {
  width: 10ex;
}

@media all and (max-width: 800px) {
  .link-sharing {
    width: 90vw;
    display: flex;
    flex-flow: column;
  }
  .link-sharing > input, .link-sharing > button {
    width: 100%;
  }
}

.game {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  /* display: grid;
  grid-template-columns: 1fr 2fr; */
  display: flex;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: #222;
}

.player-zone {
  padding-left: calc(var(--base-unit) * 0.4);
}

.table-zone {
  margin: 0;
  display: grid;
  grid-template-columns:
    var(--roll-area-width)
    var(--button-area-width);
  grid-template-rows:
    calc(var(--tile-container-height) * 2 + calc(var(--base-unit) * 0.4))
    calc(var(--dice-size) + calc(var(--base-unit) * 0.2))
    var(--roll-area-height);
  align-items: center;
}

@media all and (max-width: 800px) {
  .game {
    flex-direction: column;
    justify-content: flex-start;
  }
  .player-zone {
    order: 2;
    margin-top: calc(var(--base-unit) * 0.25);
  }
  .table-zone {
    order: 1;
    margin: 0 auto;
  }
}

.flex-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  margin: auto;
}

.btn {
  margin: 0 auto;
  width: calc(var(--base-unit) * 2);
  height: calc(var(--base-unit) * 1.5);
  font-size: calc(var(--base-unit) * 0.5);
}

.dice-area {
  width: var(--roll-area-width);
  height: calc(var(--dice-size) + var(--base-unit) * 0.2);
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.roll-area {
  position: relative;
  width: var(--roll-area-width);
  height: var(--roll-area-height);
  background-color: #999;
  border: 2px solid #222;
  border-radius: 10px;
}

.dice {
  margin: calc(var(--base-unit) * 0.08);
  border-radius: calc(var(--base-unit) * 0.12);
  width: var(--dice-size);
  height: var(--dice-size);
}

.dice > img {
  position: absolute;
  transform: translate(-50%, -50%);
  width: calc(var(--dice-size) * 0.9);
}

.table-tiles {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, var(--tile-container-width));
  grid-template-rows: repeat(2, var(--tile-container-height));
}

.player-area {
  margin: 0 auto 0 0;
}

.tile-area {
  margin-top: calc(var(--base-unit) * 0.08);
  height: var(--tile-container-height);
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.tile-area > .tile {
  margin-left: 0;
}

.tile-area > .tile:first-child {
  margin-left: 0;
}

.tile {
  margin: calc(var(--base-unit) * 0.08);
  width: var(--tile-width);
  height: var(--tile-height);
  font-size: calc(var(--tile-height) / 4);
  font-weight: bold;
}

/* .tile:disabled {
  background-color: #efefef;
}

.tile:hover {
  background-color: #aaa;
}

.tile:disabled:hover {
  background-color: #efefef;
} */

.tile-value-text {
  color: darkblue;
}

.tile-worm-text {
  color: darkred;
}

button {
  border: 1px solid #333;
  border-radius: calc(var(--base-unit) * 0.08);
}

button:disabled {
  opacity: 1;
  background-color: #777;
}
